{% extends 'base.html' %}

{% block title %}Dashboard - Finance Tracker{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Hello {{ username }}!</h1>
                <p class="card-text">Welcome to your personal Finance Tracker dashboard.</p>
                <p>This is your private space. Soon you'll be able to track your finances here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}